<!doctype html>

 <html lang="en"> 
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>Show User</title>
    </head>

    <body>
        <div class="container">
        <h1>User {{User.id}}</h1>
        <p><strong>Full Name:</strong> {{User.first_name}} {{User.last_name}}</p>
        <p><strong>Email:</strong> {{User.email}}</p>
        <p><strong>Created at:</strong> {{User.created_at}}</p>
        <h4><a href="{{User.id}}/edit">Edit</a> | <a href="/{{User.id}}/destroy">Delete</a></h4><a href="/users">Go Back</a>
        </div>
    </body>
</html>